#head-section {
  display: flex;
  justify-content: space-around;
}

#head-section h1 {
  margin: 0;
}

#head-section div {
  align-self: center;
  border-right: 1px solid #fff;
  flex: 1 0 23%;
  margin-bottom: 20px;
}
#head-section div:last-of-type {
  border: none;
}
